div,canvas {
			margin: 0;
			padding: 0;
		}

		canvas {	
			background:none;
			z-index:2;
			position: absolute;
			top: 50px; 
			left: 300px;
			float: left;
		}
			


		#mapCanvas {
			z-index:1;
		}
		